#root {
    text-align: center;
}

main {
    padding-top: 60px;
    align-self: center;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.navBar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 6em;
    padding: 0;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.logo {
    height: 20px;
    padding: 0em 0.5em;
}

.card {
    padding: 2em;
}

.name {
    background: radial-gradient(ellipse at bottom, var(--gamboge), var(--indigo), var(--pine-green));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (max-width: 480px){
    .navBar {
        gap: 2em;
        font-size: 0.7em;
    }
    
  }